html {
  scroll-behavior: smooth;
}

#navbar {
  display: flex;
  list-style-type: none;
  justify-content: center;
  background-color: darkkhaki;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0; 
  left: 0;
  width: 100%;
  font-size: x-large;
}

#navbar li {
  display: inline; 
  margin: 0 8%;
}

#navbar li a {
  color: black;
  text-decoration: none;
}

#navbar li a:hover {
  text-decoration: underline;
}

.title {
  text-align: center;
}

.meImg {
  display: block;
  width: 20%;
  border-radius: 50%;
  margin: auto;
}

body {
  background-color: lemonchiffon;
  font-family: 'Courier New', Courier, monospace;
}

.body {
  text-align: justify;  
  font-size: 110%;
  margin: auto 10%;
}

#projects ul {
  list-style: none;
  padding-left: 0;
}

.project1, .project2 {
  padding-bottom: 20px;
  display: flex;
}

.project-text {
  left: 20px;
  top: 0;
} 

#SSIS {
  color: cornflowerblue;
}

#SSIS:hover {
  color: rgb(17, 0, 255);
}

#SSIDpic, #LSSpic {
  width: 20%; 
  height: 20%;
  float: left; 
  border: 4px solid darkkhaki;
  border-radius: 5%;
  margin-right: 20px;
}

.links {
  display: flex;
  justify-content: center;
  size: 300%;
}

.links a {
  text-decoration: none;
}

.links i {
  color:black;
  margin: 20px 20px 0px;
}

i:hover {
  color: rgb(83, 83, 83);
} 

h4 {
  text-align: center;
  border: 0;
  padding: 0;
  margin: 0;
  color: black;
}
